<div><h2 style="margin-top: 2%">All events</h2>
<br>
  <% (0..@events.count).step(5) do |i| %>
    <% for event in @events[i..i + 4] %>
      <div class="card card-inline" style="width: 19%">
        <div class="card-header">
          <b><%= event.artist %></b> <%= event.event_date < Date.today ? 'Archive' : '' %>
        </div>
        <div class="card-body">
          <%= event.description_short %>
          <br>
          <br>
          <%= event.event_date %>
          <br>
          <br>
          <%= link_to 'See more', "/events/#{event.id}" %>
        </div>
      </div>
    <% end %>
    <br>
    <br>
  <% end %>
  <% if user_signed_in? && current_user.admin %>
    <%= link_to 'Nowe ogłoszenie', new_event_path %>
  <% end %></div>