<%= bootstrap_form_for(ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, id: :ticket_name %>
  </div>

  <div class="field">
    <%= form.text_area :address, id: :ticket_address %>
  </div>

  <div class="field">
    <%= form.text_field :price, id: :ticket_price %>
  </div>

  <div class="field">
    <%= form.text_field :email_address, id: :ticket_email_address %>
  </div>

  <div class="field">
    <%= form.text_field :phone, id: :ticket_phone %>
  </div>

  <div class="field">
    <%= form.text_field :seat_id_seq, id: :ticket_seat_id_seq %>
  </div>


  <% if ticket.new_record? %>
    <div class="field">
      <select class="form-control" name="ticket[event_id]" id="ticket_event_id" onchange="insertPriceLowAndHigh(this)">
        <% for event in Event.all %>
          <option value="<%= event.id %>" data-price-high="<%= event.price_high %>" data-price-low="<%= event.price_low %>"><%= event.artist %></option>
        <% end %>
      </select>
    </div>
  <% else %>
    <div class="field">
      <%= form.hidden_field :event_id, value: ticket.event.id %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
