<p id="notice"><%= notice %></p>

<h1>Tickets</h1>


<div class="inline-block"><%= form_tag("/tickets", method: "get", class: 'form-inline') do %>
    <%= label_tag(:date_from, "From date:", class: 'inline margin-right') %>
    <%= date_field_tag(:date_from, {}, class: 'form-control form-control-sm margin-right') %>
    <%= label_tag(:date_to, "To date:", class: 'inline margin-right') %>
    <%= date_field_tag(:date_to, {}, class: 'form-control form-control-sm margin-right') %>
    <%= submit_tag("Search", class: 'inline btn btn-primary btn-sm margin-right') %>
  <% end %>
</div>
  <%= form_tag("/tickets", method: "get", class: 'inline-block') do %>
    <%= button_to("Show all", {}, class: 'btn btn-primary btn-sm') %>
  <% end %>
<br><br>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Seats</th>
    <th>Address</th>
    <th>Price</th>
    <th>Email address</th>
    <th>Phone</th>
    <th>Event date</th>
    <th>Artist</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
    <% if user_signed_in? && (ticket.try(:user) == current_user || current_user.admin) %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= ticket.seat_id_seq %></td>
        <td><%= ticket.address %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.email_address %></td>
        <td><%= ticket.phone %></td>
        <td><%= ticket.event.event_date %></td>
        <td><%= link_to ticket.event.artist.to_s, event_path(ticket.event) %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <% if current_user.admin %>
          <td><%= link_to 'Destroy', ticket, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
