<p id="notice"><%= notice %></p>
<div style="margin-bottom: 40px;">
<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @ticket.seat_id_seq %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ticket.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @ticket.email_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @ticket.phone %>
</p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event.try(:artist) %>
</p></div>

<%= link_to 'Edit', edit_ticket_path(@ticket)%>
<%= link_to 'Back', tickets_path %>
